@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Muli", sans-serif;
}
.navbar{
  position: fixed;
  display: flex;
  background-color: #fff !important;
  box-shadow: 2px 4px 5px gray !important;
  position: sticky !important;
  z-index: 100000 !important;
  transition: 0.6s;
  justify-content: space-between;
  top: 0%;
  left: 0;
}
nav{
  color: #fff !important;
}
.navbar-brand{
  font-size: 1.9rem !important;
  color: #3498db !important;
}
.navbar a {
  font-size: 1.3rem;
  text-transform: capitalize;
  padding: 0px;
  margin: 10px;
}
.menu_active{
  font-weight: bold;
  border-bottom: 3px solid #565387
}
.navbar a:hover{
  color: #3498db !important;
}
@media (max-width: 991px) {
    .navbar-brand{
      font-size: 1.5rem !important;
    }

    .menu_active{
      font-weight: bold;
      border-bottom: none;
    }
}
.btn-primary{
  border-radius: 50px !important;
  width: 140px;
  background-color: white !important;
  color: #3498db !important;
  letter-spacing: 1px;
  border: 2px solid #3498db;
  transition: 0.5s !important;
  font-weight: 500;
  font-size: 16px;
  display: inline-block;
}
.btn-primary a{
  text-decoration: none;
  text-decoration-color:none;
  color: #3498db;;
}
.btn-primary:hover{
  background-color: #3498db !important;
  color: white !important;
 
}
.brand-name{
  color: #3498db;
}
#header .animated{
  animation: down-up 2s ease-in-out infinite alternate-reverse both;
}

@-webkit-keyframes down-up {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-5px);
  }
}

@keyframes down-up {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-5px);
  }
}
.nine{
  border-radius: 50px !important;
  width: 140px;
  height: 50px;
  background-color: white !important;
  color: #3498db !important;
  letter-spacing: 1px;
  border: 2px solid #3498db;
  transition: 0.5s !important;
  font-weight: bold;
  font-size: 16px;
  display: inline-block;
}
.nine:hover{
  background-color: #3498db !important;
  color: white !important;
 
}

.card{
  box-shadow: 2px 4px 5px gray !important;
  padding: 20px;
}

.card-body{
  padding: 20px !important;
}
.btn-primary{
  font-weight: bold !important;
}